version: '3'

services:
  app:
    build: .
    ports:
      - "{{ port }}:{{ port }}"
    environment:
{% for env_var, value in env_vars.items() %}
      - {{ env_var }}={{ value }}
{% endfor %}
    volumes:
      - .:/app
    restart: unless-stopped
