version: '3'

services:
  {{ app_name }}:
    build: .
    ports:
      - "{{ port }}:{{ port }}"
    environment:
      {% if env_vars %}
      {% for key, value in env_vars.items() %}
      {{ key }}: {{ value }}
      {% endfor %}
      {% else %}
      {}
      {% endif %}
